.footer {
    padding: 1rem 0;
    background-color: #f8f9fa;
    margin-top: auto;
  }
  
  .rightFoot {
    margin-left: auto;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text {
    flex: 1;
  }
  